<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de zapatos</span>
            <button class="btn btn-dark btn-larg">Agregar</button>
            <table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Talla</th>
      <th>Descripcion</th>
      <th>precio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tenis rojo</td>
      <td>25</td>
      <td>Adidas rojo</td>
      <td>270</td>
    </tr>
    <tr>
        <td>Tenis rojo</td>
        <td>25</td>
        <td>Adidas rojo</td>
        <td>270</td>
      </tr>
      <tr>
        <td>Tenis rojo</td>
        <td>25</td>
        <td>Adidas rojo</td>
        <td>270</td>
      </tr>
  </tbody>
</table>
        </div>
    </div>
</div>